<div class="ui inverted menu center aligned borderless bottom fixed">
    <span class="item header centered"> FX Designs <sup><i class="icon trademark"></i></sup> </span>
    <span class="item centered">
        <i class="icon copyright outline"></i>Copyright - 2019
    </span>
    <div class="right menu">
        <span class="item right">
            DISCLAIMER : Content here is just for informative purposes. All the products/services mentioned here are
            properties of respective companies.
        </span>
    </div>
</div>

</body>

</html>