<style>
    @media (max-width: 823px) {
        #disc {
            position: relative;
            bottom: 0;
            margin: 0 2%;
        }
    }
</style>

<div id="disc" class="row-fluid justify-content-center mb-5">
    <hr class="mt-5 lastRule">
    <div class="text-center">
        DISCLAIMER : Content here is just for informative purposes. All the products/services
        mentioned here are properties of respective companies.
    </div>
</div>

<div class="nav navbar-dark bg-dark fixed-bottom" style="bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2">
                <ul class="navbar-nav">
                    <li class="navbar-brand nav-item nav-link pb-0"> FX Designs <sup><i
                                class="icon trademark"></i></sup>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 text-right">
                <ul class="navbar-nav">
                    <li class="nav-item nav-link">
                        <i class="icon copyright outline"></i>Copyright - 2020
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
</script>

</body>

</html>