<%include partials/header%>

<div style="margin-top:100px" class="ui container">
    <div class="ui one column centered grid">
        <div class="row">
            <div class="sixteen wide column">
                <img class="ui small centered image"
                    src="https://cdn3.iconfinder.com/data/icons/web-and-seo-11-1/65/549-512.png" alt="">
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui card fluid">
                <div class="content">
                    <div class="center aligned header">Ashish Yadav</div>
                    <div class="center aligned summary">
                        <p><i class="icon css3"></i> Frontend Developer</p>
                    </div>
                    <div class="center aligned description"><br>
                        <p>I am a student studying B.Tech (CSE) at IIIT Surat.</p>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <div class="ui header small center aligned">Contact</div>
                    <div class="center aligned author">
                        <div class="ui two column grid padded centered">
                            <i class="envelope icon"></i> irocx.7@gmail.com
                            <i class="phone icon"></i> +91 - 1234567890
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<%include partials/footer%>