<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>

</head>

<body>
    <h2>Fixed/Sticky Footer Example</h2>
    <p>The footer is placed at the bottom of the page.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel. Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!LoremloremLorem ipsum dolor sit amet consectetur adipisicing elit. Enim at modi nesciunt ea vel.
        Repellendus perferendis,
        enim voluptas unde id saepe! Fugiat non culpa similique provident quas ullam inventore distinctio?Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ea, minima commodi nemo cum quam dolor ipsam voluptatem dolorem,
        odio asperiores possimus quisquam vero voluptates, adipisci quibusdam sunt sequi ullam tempore?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Qui esse labore maxime, magnam voluptatum dicta, rem porro eaque
        dolorem repellat, distinctio sint consequatur. Tempora ipsa fuga alias illum? Dicta, velit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. In fuga dolorem ipsam nihil reiciendis, officia fugiat perspiciatis inventore
        provident aut consequatur sed sint quia minus, neque asperiores distinctio impedit deserunt?Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Reiciendis quasi, a quibusdam recusandae numquam iure assumenda sunt
        laudantium voluptatum laboriosam odio quos ipsum, corporis debitis architecto doloribus asperiores
        dicta!Loremlorem</Nisi>
    </p>

    
</body>

</html>