<%- include('../partials/header')%>

<style>
    #holder {
        margin-top: 5%;
        max-width: 50%;
    }

    #holder input {

        margin: 0 5%;
        transition: margin 0.2s ease-in-out;
    }

    #holder input:hover {
        margin: 0 1%;
    }

    @media (max-width:823px) {
        #register {
            margin-top: 25%;
            margin-bottom: 10%;
            font-size: 2.75rem;
            text-align: center;
            max-width: 100%;
        }

        #holder {
            margin-top: 5%;
            max-width: 70%;
            overflow-y: auto;
        }
    }
</style>

<div class="container" id="holder">
    <div class="row">
        <div class="col">
            <div id="register" class="h3"> <i class="user plus icon"></i> Login</div>
        </div>
    </div>
    <form action="/login" method="POST">
        <div class="form-group row">
            <label for="">Username</label>
            <input class="form-control" type="text" placeholder="James.Cameron7" name="username">
        </div>
        <div class="form-group row">
            <label for="">Password</label>
            <input class="form-control" type="password" placeholder="●●●●●●●●●●●" name="password">
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col">
                <button type="submit" class="ui button basic green fluid">Login</button>

            </div>
            <div class="col-2">
            </div>
        </div>
</div>
</form>
</div>
</div>
</div>



<%- include('../partials/footer')%>